@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: red
  ;
}

body {
  font-family: "Work Sans", sans-serif;
  text-align: center;
  background-color: aquamarine;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Header */

header {
  padding: 1rem;
  background-color: var(--primary-color);
  color: #fff;
}

header h1 {
  font-family: "Megrim", cursive;
  text-align: initial;
}

nav {
  text-align: right;
}

nav > a {
  padding: 0 0.5rem;
}

/* Main */

main {
  margin: 0 0 7rem;
}

main h1 {
  margin: 1rem;
}

/*  Input */

.input-label {
  font-size: larger;
  color: red;
  width: 256px;
}

.input-label p {
  font-size: larger;
  margin: 0.5rem;
}

.input-text {
  font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid red;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
}
/* button */
.button{
border: 3.5px outset whitesmoke;
background-color: #fff;
transition: 0.3s;
cursor: pointer;
padding: 0.4rem 1rem;
margin:0rem 0.3rem;
color: red;
}
.button:hover{
  background-color: aquamarine;
  color: #fff;
  border: 1.7px solid green;
}
.btn-check {
  background: red;
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: 1rem auto;
  display: block;
}

.output {
  font-size: x-large;
  margin: 1rem;
}

/* Footer */

footer {
  text-align: center;
}

footer p {
  font-size: large;
  text-align: center;
}

.footer-list {
  margin: 1rem;
}

a,
img,
li {
  display: inline;
  color:  black;
}

img {
  width: 40px;
  padding: 1rem 0.2rem;
}

.header{
  border: 5px solid red;
}
.form{
  border: 2px solid red;
  max-width: 30%;
  margin: auto;
  background-color: aqua;
}
.formula-div{
  max-width: 15%;
  margin: auto;
  color: red;
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding: 0.3rem;
  border: 2px dashed green;
}
.form-quiz{
  border: 2px solid red;
  max-width: 70%;
  margin: auto;
  background-color: aqua;
}